.containerNavbar {
  background-color: white;
  color: #c19c9c;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 250px;
  display: block;
  margin: auto;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-top: 0px;
}

.categories a {
  list-style: none;
  text-decoration: none;
  margin: 35px 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
