.logo {
  width: 250px;
  display: block;
  margin: auto;
}

.containerNavbar {
  background-color: white;
  color: #c19c9c;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px 10px;
}
